.showIn {
  animation: showIn 0.3s var(--default_transition_function) forwards;
}

.fadeOut {
  animation: fadeOut 0.3s var(--default_transition_function) forwards;
}

@keyframes showIn {
  from {
    transform: scale(0);
    visibility: visible;
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
