h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05rem;
}

h1 {
  color: $font-color-h1;
  font-size: $font-size-h1;
  font-weight: normal;
}

h2 {
  color: $font-color-h2;
  font-size: $font-size-h2;
}

h3 {
  color: $font-color-h3;
  font-size: $font-size-h3;
}

h4 {
  color: $font-color-h4;
  font-size: $font-size-h4;
}

h5 {
  color: $font-color-h5;
  font-size: $font-size-h5;
}

h6 {
  color: $font-color-h6;
  font-size: $font-size-h6;
}

p {
  margin-bottom: 2rem;
  letter-spacing: 0.03rem;
  line-height: 2;
  text-align: justify;
  word-break: break-all;
}

:not(pre) > code {
  margin: 0;
  padding: 0.2rem 0;
  border-radius: $radius-base;
  background: $grey-100;
  color: $grey-600;
  font-size: $font-size-sm;
  line-height: 2;

  &::before,
  &::after {
    letter-spacing: -0.2rem;
    content: '\00a0';
  }
}

pre {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: $radius-base;
  background: $grey-50;
  overflow: auto;
  overflow-wrap: break-word;
}

pre,
code {
  font-family: $font-family-monospace;
}

blockquote {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
  padding: 1.6rem;
  border-left: 4px solid $grey-200;
  color: $grey-600;

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  footer {
    display: block;
    margin-top: 1.8rem !important;
    font-size: $font-size-sm;
    text-align: right;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

mark {
  padding: 0.25rem;
  background: $yellow-100;
  color: $grey-900;
}
