html {
  &.lock-scroll,
  &.lock-scroll body {
    height: 100%;
    overflow: hidden;
  }
}

// icon
.icon-open_in_new {
  &::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('../images/icon/open_in_new.svg') no-repeat;
    background-size: contain;
    content: '';
  }
}
