//
// Font
// -------------------------

$font-family-base: YakuHanJP, 'Noto Sans Japanese', -apple-system-subset, BlinkMacSystemFont, 'Yu Gothic', YuGothic,
  'Hiragino Kaku Gothic ProN', Meiryo, Emoji, sans-serif !default;
$font-family-monospace: Consolas, 'Liberation Mono', Menlo, Courier, Emoji, monospace !default;

$font-size-base: 14px;
$font-size-lg: 1.0625rem;
$font-size-sm: 0.9375rem;
$font-size-xs: 0.875rem;

$line-height-base: 1.8;

$table-border-width: 1px;

//
// Layout
// -------------------------

// Responsiveness
$tablet: 769px;
$desktop: 960px;
$widescreen: $desktop; //1152px;
$fullhd: $desktop; //1344px;

// component layout
$header-nav-height: 4rem;
$article-padding-side: 1.5rem;

//
// Colors
// -------------------------

$table-head-bg-color: $grey-100;
$table-border-color: $grey-200;
$table-hover-color: lighten($blue-50, 5%);

// animation
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
