//
// Font
// -------------------------

$font-family-base: YakuHanJP, 'Noto Sans Japanese', -apple-system-subset, BlinkMacSystemFont, 'Yu Gothic', YuGothic,
  'Hiragino Kaku Gothic ProN', Meiryo, Emoji, sans-serif !default;
$font-family-monospace: Consolas, 'Liberation Mono', Menlo, Courier, Emoji, monospace !default;

$table-border-width: 1px;

//
// Layout
// -------------------------

// Responsiveness
$tablet: 769px;
$desktop: 960px;
$widescreen: $desktop; //1152px;
$fullhd: $desktop; //1344px;

// component layout
$header-nav-height: 4rem;
$article-padding-side: 1.5rem;

//
// Colors
// -------------------------

$table-head-bg-color: $grey-100;
$table-border-color: $grey-200;
$table-hover-color: lighten($blue-50, 5%);
