:root {
  /* base font */
  --font-size-base: 14px;
  --font-size-lg: 1.0625rem;
  --font-size-sm: 0.9375rem;
  --font-size-xs: 0.875rem;

  /* font-family */
  --font-family-base: YakuHanJP, 'Noto Sans Japanese', -apple-system-subset, BlinkMacSystemFont, 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, Emoji, sans-serif;
  --font-family-monospace: Consolas, 'Liberation Mono', Menlo, Courier, Emoji, monospace;

  --line-height-base: 1.8;

  /* base color */
  --black: #010101;
  --white: #fefefe;
  --grey-50: #f8f9fa;
  --grey-100: #f1f3f5;
  --grey-200: #e9ecef;
  --grey-300: #dee2e6;
  --grey-400: #ced4da;
  --grey-500: #adb5bd;
  --grey-600: #868e96;
  --grey-700: #495057;
  --grey-800: #343a40;
  --grey-900: #212529;

  /* base */
  --base-background: var(--white);
  --base-color: var(--grey-800);

  /* entry link */
  --entry-link-color: var(--grey-600);
  --entry-link-hover-color: var(--grey-700);
  --entry-link-border-color: var(--grey-200);
  --entry-link-hover-border-color: var(--grey-600);
  --entry-link-visited-color: var(--grey-500);

  /* heading */
  --heading1-font-size: 1.75rem;
  --heading2-font-size: 1.5rem;
  --heading3-font-size: 1.17rem;
  --heading4-font-size: 1rem;
  --heading5-font-size: 0.83rem;
  --heading6-font-size: var(--heading5-font-size);

  --heading1-color: var(--grey-900);
  --heading2-color: var(--grey-800);
  --heading3-color: var(--grey-700);
  --heading4-color: var(--grey-600);
  --heading5-color: var(--grey-500);
  --heading6-color: var(--grey-400);

  /* radius */
  --border-radius-base: 0.2rem;
  --border-radius-sm: 0.125rem;
  --border-radius-lg: 0.25rem;

  /* alert */
  /* border:100, background:50, color:400 */
  --alert-success-border-color: #c8e6c9;
  --alert-success-background: #e8f5e9;
  --alert-success-color: #9ccc65;

  --alert-info-border-color: #bbdefb;
  --alert-info-background: #e3f2fd;
  --alert-info-color: #42a5f5;

  --alert-warning-border-color: #ffe0b2;
  --alert-warning-background: #fff3e0;
  --alert-warning-color: #ffa726;

  --alert-danger-border-color: #ffcdd2;
  --alert-danger-background: #ffebee;
  --alert-danger-color: #ef5350;

  /* text */
  /* color: 400 */
  --text-muted-color: var(--grey-400);
  --text-primary-color: #29b6f6;
  --text-success-color: #9ccc65;
  --text-info-color: #42a5f5;
  --text-warning-color: #ffa726;
  --text-danger-color: #ef5350;

  /* transition */
  --default_transition_function: cubic-bezier(0.4, 0, 0.2, 1);
}
