.c-alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);

  &.is-success {
    border-color: var(--alert-success-border-color);
    background: var(--alert-success-background);
    color: var(--alert-success-color);
  }

  &.is-info {
    border-color: var(--alert-info-border-color);
    background: var(--alert-info-background);
    color: var(--alert-info-color);
  }

  &.is-warning {
    border-color: var(--alert-warning-border-color);
    background: var(--alert-warning-background);
    color: var(--alert-warning-color);
  }

  &.is-danger {
    border-color: var(--alert-danger-border-color);
    background: var(--alert-danger-background);
    color: var(--alert-danger-color);
  }
}
