.entry {
  width: 100%;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.entry-content {
  margin-bottom: 1rem;

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid $link-border-color;
    color: $link-color;

    &:hover {
      border-color: $link-hover-border-color;
    }
    &:focus {
      outline: thin dotted;
      outline-offset: -2px;
    }
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ol ol,
  ul ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: lower-alpha;
  }
}

.no-image {
  background: $grey-50 50% no-repeat;
  background-image: url('~@images/icon/photo.svg?fill=#{$grey-400} svg');
  background-size: cover;
}
