.icon-open_in_new {
  &::after {
    background: url('~@images/icon/open_in_new.svg') no-repeat;
    content: '';
    @include svg-icon(1rem);
  }
}

.icon-update {
  background-image: url('~@images/icon/update.svg?fill=#{$grey-500} path');
  @include svg-icon(1rem);
}

.icon-search {
  background-image: url('~@images/icon/search.svg?fill=#{$grey-700} #a');
  @include svg-icon(1.5rem);
}

.icon-folder {
  background-image: url('~@images/icon/folder.svg?fill=#{$grey-400} #a');
  @include svg-icon(1rem);
}

.icon-arrow-forward {
  background-image: url('~@images/icon/arrow_forward.svg?fill=#{$grey-600} #a');
  @include svg-icon(1.5rem);
}

.icon-arrow-back {
  background-image: url('~@images/icon/arrow_back.svg?fill=#{$grey-600} #a');
  @include svg-icon(1.5rem);
}

.icon-twitter {
  background-image: url('~@images/icon/twitter.svg');
}

.icon-facebook {
  background-image: url('~@images/icon/facebook.svg');
}

.icon-hatena {
  background-image: url('~@images/icon/hatenabookmark.svg');
}

.icon-line {
  background-image: url('~@images/icon/line.svg');
}
