// List
//
// list component
//
// markup:
// <ul class="list {$modifiers}">
//   <li>1</li>
//   <li>2</li>
//   <li>3</li>
// </ul>
//
// Styleguide 1.0.0

.c-list {
  &.chained {
    ul {
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;
      color: inherit;

      & + li::before {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin: 0 0.125rem;
        background: url('~@images/icon/arrow_right.svg?fill=#{$grey-500} svg') no-repeat;
        background-size: contain;
        content: '';
      }
    }
  }
}
