@import "normalize.css";

@import "settings/_variables.css";
@import "tools/_animation.css";
@import "_font.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Vue.js */
[v-cloak] {
  display: none !important;
}

/* WordPress */
#wpstats {
  display: none;
}

/* layout */
.l-flex {
  display: flex;
  align-items: center;

  &.content-between {
    justify-content: space-between;
  }

  &.content-center {
    justify-content: center;
  }

}
